body {
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(135deg, #e458c8 0%, #06b7ca 100%);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
}

.loading-spinner {
  height: 10rem;
  width: 10rem;
  border-top-width: none;
  border-right-width: none;
  border-bottom-width: none;
  border-left-width: none;
}
